@model IEnumerable<ModelLayer.EmployeeModels.GetAllEmployeeModel>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/Index.css" />

<h1 class="head">Employee Payroll</h1><br>
<h4>Employee List</h4><br>

<table class="table" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emp_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.ProfileImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoiningDate)
            </th>
            <th>
                <a asp-action="AddEmployee" class="btn btn-success text-white">Add Employee </a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Emp_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
             <td>
                 <img src="@Url.Content(item.ProfileImage)" >
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoiningDate)
            </td>
            
            <td>
                
                <a asp-action="UpdateEmployee" asp-route-id="@item.Emp_Id" class="btn btn-secondary text-white">Edit</a>
                <a asp-action="DeleteEmployee" asp-route-id="@item.Emp_Id" class="btn btn-danger">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
